<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='end_day_style.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>Here's Today's Orders:</h1>
    <div class="breakdown">
        {% for dish in dishes %}
            <p>{{dish.title}} was ordered {{dish.orders}} times.</p>
            <hr>
        {% endfor %}
        <a href="/dashboard">Back to Dashboard?</a>
        <a href="/end_day">End Day</a>
    </div>
</body>
</html>